*.pyc
/build
/dist
/yt.egg-info
__pycache__
__config__.py
*.so

# *.c files created in developer mode:
yt/analysis_modules/ppv_cube/ppv_utils.c
yt/frontends/artio/_artio_caller.c
yt/geometry/fake_octree.c
yt/geometry/grid_container.c
yt/geometry/grid_visitors.c
yt/geometry/oct_container.c
yt/geometry/oct_visitors.c
yt/geometry/particle_deposit.c
yt/geometry/particle_oct_container.c
yt/geometry/particle_smooth.c
yt/geometry/selection_routines.c
yt/utilities/lib/alt_ray_tracers.c
yt/utilities/lib/amr_kdtools.c
yt/utilities/lib/bitarray.c
yt/utilities/lib/CICDeposit.c
yt/utilities/lib/ContourFinding.c
yt/utilities/lib/DepthFirstOctree.c
yt/utilities/lib/fortran_reader.c
yt/utilities/lib/geometry_utils.c
yt/utilities/lib/grid_traversal.c
yt/utilities/lib/image_utilities.c
yt/utilities/lib/Interpolators.c
yt/utilities/lib/marching_cubes.c
yt/utilities/lib/mesh_utilities.c
yt/utilities/lib/misc_utilities.c
yt/utilities/lib/Octree.c
yt/utilities/lib/origami.c
yt/utilities/lib/pixelization_routines.c
yt/utilities/lib/PointsInVolume.c
yt/utilities/lib/QuadTree.c
yt/utilities/lib/ragged_arrays.c
yt/utilities/lib/RayIntegrators.c
yt/utilities/lib/write_array.c
yt/utilities/spatial/ckdtree.c
